.about__hero {
    background-color: #014E56;
    padding-top: 124px;
    padding-bottom: 120px;
    background-image: url();
}
.aH__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aH__title {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    margin-right: 120px;
}
.Ah__info {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-top: 44px;
    margin-left: 545px;
}